@using BetAtSchoolClient.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";


    int currentQuestion = int.Parse(ViewContext.HttpContext.Session["currentQuestion"] as string);
    string currentPlayer = HttpContext.Current.Session["currentPlayer"] as string;
    UserGuide guide = HttpContext.Current.Session["currentGuide"] as UserGuide;
}

<script>
    function btnNextClick(e)
    {
         $.ajax(
                {
                    type: 'GET',
                    url: '@Url.Action("QuestionView", "User")',
                    success: function (result) {
                        $("#body").html(result);
                    }
                });
    }

    function btnSkipClick(e)
    {

    }
    function btnExitClick(e)
    {

    }
</script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuestionView</title>
</head>
<body>
    <div id="currentGuide" class="demo-section k-content">currently logged in: @guide.Username</div>
    <div id="currentGuide" class="demo-section k-content">currently playing: @currentPlayer</div>

    <div id="Login-content" class="demo-section k-content">
        <p class="title">@Model.Questions[currentQuestion].Description</p>
        <ul>
            @for(int i = 0; i < Model.Questions[currentQuestion].Answers.Count; i++)
            {
                <li>@Html.Kendo().CheckBox().Name("answer" + i) @Model.Questions[currentQuestion].Answers[i].Description</li>
            }
        </ul>
        @Html.Kendo().Button().Name("btnNext").Events(e => e.Click("btnNextClick"));    
        @Html.Kendo().Button().Name("btnSkip").Events(e => e.Click("btnSkipClick"));
        @Html.Kendo().Button().Name("btnExit").Events(e => e.Click("btnExitClick"));   
    </div>
</body>
</html>
