@using BetAtSchoolClient.Models;
@{

    Layout = null;

    int currentQuestion = 0;
    int currentStation = 0;
    Player currentPlayer = HttpContext.Current.Session["currentPlayer"] as Player;
    UserGuide guide = HttpContext.Current.Session["currentGuide"] as UserGuide;
    string desc = Model[currentStation].Questions[currentQuestion].Description;
    string stat = Model[currentStation].StationName;
}

<script>
    var currQ = 0;
    function btnNextClick(e)
    {
        if (currQ < 10) {
            var next = currQ + 1;
            document.getElementById(currQ).style.display = 'none';
            document.getElementById(next).style.display = 'inline';
            currQ = currQ + 1;
        }
    }

    function btnAnswerClick(e)
    {
        
    }
    function btnPrevClick(e)
    {
        if (currQ > 0) {
            var prev = currQ - 1;
            document.getElementById(currQ).style.display = 'none';
            document.getElementById(prev).style.display = 'inline';
            currQ = currQ - 1;
        }
    }
</script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuestionsView</title>
</head>
<body>
    <p id="currentPlayer" class="demo-section k-content">currently playing: @currentPlayer.name</p>
    <p id="currentStation" class="demo-section k-content">current Station: @stat</p>
    @Html.Kendo().PanelBar().Name("panelQuestions").Items(items =>
    {
        items.Add().Expanded(true).Content(
            @<div id="Login-content" class="demo-section k-content">
                 <div id = 0 style="display: inline"> 
                     <ul>
                         <li>@Model[0].Questions[0].Description <br /> Quote: @Model[0].Questions[0].Quote</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A0" }) @Model[0].Questions[0].Answers[0].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A1" }) @Model[0].Questions[0].Answers[1].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A2" }) @Model[0].Questions[0].Answers[2].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A3" }) @Model[0].Questions[0].Answers[3].Description</li>
                     </ul>
                 </div>
                 <div id=1 style="display: none">
                     <ul>
                         <li>@Model[1].Questions[0].Description <br /> Quote: @Model[1].Questions[0].Quote</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A0" }) @Model[1].Questions[0].Answers[0].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A1" }) @Model[1].Questions[0].Answers[1].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A2" }) @Model[1].Questions[0].Answers[2].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A3" }) @Model[1].Questions[0].Answers[3].Description</li>
                     </ul>
                 </div>
                 <div id=2 style="display: none">
                     <ul>
                         <li>@Model[2].Questions[0].Description <br /> Quote: @Model[2].Questions[0].Quote</li>

                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A0" }) @Model[2].Questions[0].Answers[0].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A1" }) @Model[2].Questions[0].Answers[1].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A2" }) @Model[2].Questions[0].Answers[2].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A3" }) @Model[2].Questions[0].Answers[3].Description</li>
                     </ul>
                 </div>
                 <div id=3 style="display: none">
                     <ul>
                         <li>@Model[3].Questions[0].Description <br /> Quote: @Model[3].Questions[0].Quote</li>

                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A0" }) @Model[3].Questions[0].Answers[0].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A1" }) @Model[3].Questions[0].Answers[1].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A2" }) @Model[3].Questions[0].Answers[2].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A3" }) @Model[3].Questions[0].Answers[3].Description</li>
                     </ul>
                 </div>
                 <div id=4 style="display: none">
                     <ul>
                         <li>@Model[4].Questions[0].Description <br /> Quote: @Model[4].Questions[0].Quote</li>

                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A0" }) @Model[4].Questions[0].Answers[0].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A1" }) @Model[4].Questions[0].Answers[1].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A2" }) @Model[4].Questions[0].Answers[2].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A3" }) @Model[4].Questions[0].Answers[3].Description</li>
                     </ul>
                 </div>
                 <div id=5 style="display: none">
                     <ul>
                         <li >@Model[5].Questions[0].Description <br /> Quote: @Model[5].Questions[0].Quote</li>

                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A0" }) @Model[5].Questions[0].Answers[0].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A1" }) @Model[5].Questions[0].Answers[1].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A2" }) @Model[5].Questions[0].Answers[2].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A3" }) @Model[5].Questions[0].Answers[3].Description</li>
                     </ul>
                 </div>
                 <div id=6 style="display: none">
                     <ul>
                         <li >@Model[6].Questions[0].Description <br /> Quote: @Model[6].Questions[0].Quote</li>

                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A0" }) @Model[6].Questions[0].Answers[0].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A1" }) @Model[6].Questions[0].Answers[1].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A2" }) @Model[6].Questions[0].Answers[2].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A3" }) @Model[6].Questions[0].Answers[3].Description</li>
                     </ul>
                 </div>
                 <div id=7 style="display: none">
                     <ul>
                         <li >@Model[7].Questions[0].Description <br /> Quote: @Model[7].Questions[0].Quote</li>

                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A0" }) @Model[7].Questions[0].Answers[0].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A1" }) @Model[7].Questions[0].Answers[1].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A2" }) @Model[7].Questions[0].Answers[2].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A3" }) @Model[7].Questions[0].Answers[3].Description</li>
                     </ul>
                 </div>
                 <div id=8 style="display: none">
                     <ul>
                         <li >@Model[8].Questions[0].Description <br /> Quote: @Model[8].Questions[0].Quote</li>

                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A0" }) @Model[8].Questions[0].Answers[0].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A1" }) @Model[8].Questions[0].Answers[1].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A2" }) @Model[8].Questions[0].Answers[2].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A3" }) @Model[8].Questions[0].Answers[3].Description</li>
                     </ul>
                 </div>
                 <div id=9 style="display: none">
                     <ul>
                         <li >@Model[9].Questions[0].Description <br /> Quote: @Model[9].Questions[0].Quote</li>

                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A0" }) @Model[9].Questions[0].Answers[0].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A1" }) @Model[9].Questions[0].Answers[1].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A2" }) @Model[9].Questions[0].Answers[2].Description</li>
                         <li>@Html.Kendo().RadioButton().Name("answer").HtmlAttributes(new { id = "A3" }) @Model[9].Questions[0].Answers[3].Description</li>
                     </ul>
                 </div>
             </div>  
     );
    })

    @(Html.Kendo().Slider()
            .Name("slider")
            .IncreaseButtonTitle("Right")
            .DecreaseButtonTitle("Left")
            .Min(0)
            .Max(100)  
            .SmallStep(10)
            .LargeStep(10)
            .Value(0)
            .HtmlAttributes(new { @class = "balSlider" }))
    <br />
    <p id="msgSlider" style="visibility: hidden; color: red">too much !</p>
    @Html.Kendo().Button().Name("btnPrev").Events(e => e.Click("btnPrevClick")).Content("Back")
    @Html.Kendo().Button().Name("btnAnswer").Events(e => e.Click("btnAnswerClick")).Content("Answer")
    @Html.Kendo().Button().Name("btnNext").Events(e => e.Click("btnNextClick")).Content("Next")
</div>

</body>
</html>
<style>
    .demo-section {
        padding: 0;
        width: 40%;
        margin-top: 5%;
        margin-left: 30%;
    }

    #btnStartQuiz {
        margin-top: 10px;
    }

    #Login-content .title {
        font-size: 16px;
        color: #fff;
        background-color: #1e88e5;
        padding: 20px 30px;
        margin: 0;
    }

    #fieldlist {
        margin: 0 0 -1.5em;
        padding: 30px;
    }

        #fieldlist li {
            list-style: none;
            padding-bottom: 1.5em;
        }

        #fieldlist label {
            display: block;
            padding-bottom: .6em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

         .demo-section {
        text-align: center;
    }

    div.balSlider {
        width: 100%;
    }

    div.balSlider .k-slider-selection {
        display: none;
    }
</style>
